<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Web02_XML练习/src/p3_开发需要创建哪些模块/编译异常处理.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p3_开发需要创建哪些模块.编译异常处理"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Web02_XML练习"/>
</launchConfiguration>
